{% extends "layout.html" %}

{% block script %} 
    <script src='/static/js/random.js'></script> 
{% endblock %}

{% block title %}
    Random
{% endblock %}

{% block main %}



<div id="greeting_text">
    <h1 style="margin-right: 20px;">Here you can choose a first player or make a random order</h1>
    <div class="tooltip help-tip">
        <span class="tooltiptext tooltip-bottom">1. Type any alphabetical or numerical characters
            <br>2. Choose a first player or make a random order <br>3. Have fun!</span>
      </div>
</div>


<button class="btn btn-warning btn-lg" id="start" onclick="keys(); show_keys();">Start</button>
<!-- info -->
<div class = "boxes">
    <div id="box1">
       <div id="hiden" style="display:none">
            <h2>Pressed keys:</h2>
            <div id="box" style="position:relative;"></div>
        </div>
    </div>
    <div>
        <div id="box2">
            <button class="btn btn-warning btn-lg" style="display:none" id ="player_button" onclick="player(); show_player();">Choose a first player</button>
            <h2 id ="player_text" style="display:none">First player:  <span id="player"></span></h2>
        </div>
        <div id="box3">
            <button class="btn btn-warning btn-lg" style="display:none" id="order_button" onclick="order(); show_order()">Make a random order</button>
            <h2 id="order_text" style="display:none">Random order:  <span id="order"></span></h2>
        </div>
    </div>
</div>

{% endblock %}